{% extends "_layouts/main" %}

{% block main %}
{% set asset = entry.field_referenceImage.one() %}
{% if asset %}
    <img src="{{ asset.url }}" />
{% endif %}

<h2>{{ entry.title }}</h2>
<div>{{ entry.field_paragraph }}</div>
<!-- MATRIX FIELDS -->

{% for block in entry.field_blogContent.all() %}
    {% switch block.type %}

    {# TEXT BLOCK #}
    {% case 'block_copy' %}
        <h2>{{ block.field_title }}</h2>
        <p>{{ block.field_paragraph }}</p>

    {# CODE #}
    {% case 'block_code' %}
        <pre><code>{{ block.field_code }}</code></pre>

    {# IMAGE WITH TEXT #}
    {% case 'block_image' %}
        <div>
            <img src="{{ block.field_image.one().url }}" />    
            <p>{{ block.field_caption }}</p>
        </div>

    {% endswitch %}
{% endfor %}

{% endblock %}