{% extends "_layouts/main" %}

{% block main %}
<h1>{{ entry.title }}</h1>
<h2>Most recent posts</h2>
<div>
    {% for entry in craft.entries.section('blogs').orderBy('postDate asc').all() %}
        <article>
            <a href="{{ entry.url }}">
                <h1>{{ entry.title }}</h1>
                <p>{{ entry.author }}, {{ entry.postDate|date('M d Y') }}</p>
                <img src="{{ entry.field_referenceImage.one().getUrl("s160x194") }}" />
                <div>{{ entry.field_paragraph }}</div>
                {% set relatedCategories = entry.category_technology.all() %}
                
                {% if relatedCategories|length %}
                    <ul>
                        {% for rel in relatedCategories %}
                            <li><a href="{{ rel.url }}">{{ rel.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </a>
        </article>
    {% endfor %}
</div>

{% endblock %}