<header></header>
<body>
<section>
    {% set navigation %}
    {% set pages = craft.entries.section('navigation').level('<='~2) %}
        <ul>
        {% nav page in pages.all() %}
           
            {# Check for entry type / get related entry #}
            {% if page.type == 'internalLink' %}
                {% set linkedEntry = page.sitePageLink.limit(1).one() %}
                {% if linkedEntry is not null %}
                 <li>
                    <a href="{{ linkedEntry.url }}"  data-url="{{ linkedEntry.url }}">{{ page.title }}</a>
                {% endif %}
            {% endif %}

            {# Check for entry type / get offsiteLinks #}
            {% if page.type == 'offsiteLink' %}
                <li>
                    <a href="{{ page.offSiteLink }}"  data-url="{{ page.offSiteLink }}" {% if page.openInNewTab == '1' %}target="_blank"{% endif %}>{{ page.title }}</a>
            {% endif %}

            {% ifchildren %}
                <ul class="dropdown">
                    {% children %}
                </ul>
            {% endifchildren %}

            </li>
        {% endnav %}
        </ul>

    {% endset %}

    {# replace data-uri with active class #}
    {{ navigation|replace({('data-url="' ~ craft.app.request.absoluteUrl ~ '"'): 'class="active"'})|raw }}
</section>

<section>
    {% block main %}
    {% endblock %}
</section>
</body>
<footer></footer>