{% extends "_layouts/main" %}

{% block main %}
<h1>{{ entry.title }}</h1>

{# CASES #}
<div>
    {% for entry in craft.entries.section('cases').limit(3).orderBy('postDate asc').all() %}
        <a href="{{ entry.url }}">
            <h1>{{ entry.title }}</h1>
            <img src="{{ entry.field_referenceImage.one().getUrl("s500x500") }}" />
        </a>
    {% endfor %}
</div>

{# CLIENTS #}
<h2>{{ entry.field_clientsTitle }}</h2>
{% set relatedAssets = entry.field_clients.all() %}
{% if relatedAssets|length %}
    <ul>
        {% for rel in relatedAssets %}
            <li><img src="{{ rel.getUrl() }}" /></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}