{% extends "_layouts/main" %}

{% block main %}

<h1>{{ entry.title }}</h1>

{% set asset = entry.field_heroForeground.one() %}
{% if asset %}
    <img src="{{ asset.url }}" />
{% endif %}
{% set asset = entry.field_heroBackground.one() %}
{% if asset %}
    <img src="{{ asset.url }}" />
{% endif %}

<h2>{{ entry.field_header }}</h2>
<div>{{ entry.field_paragraph }}</div>

<!-- MATRIX FIELDS -->

{% for block in entry.field_caseContent.all() %}
    {# IMAGE BLOCK #}
    {% switch block.type %}
    {% case 'block_singleImage' %}
        {% set image = block.field_image.one() %}
        <img src="{{ image.url }}" />    

    {# TEXT BLOCK #}
    {% case 'block_textBlock' %}
        <h2>{{ block.field_title }}</h2>
        <p>{{ block.field_paragraph }}</p>

    {# SLIDER #}
    {% case 'block_imageSlider' %}
        {% for item in block.field_imageSliderItem.all() %}
            <div>
                <h2>{{ item.field_itemTitle }}</h2>
                <img src="{{ item.field_itemImage.one().url }}" />    
            </div>
        {% endfor %}
        <span>{{ block.field_caption }}</span>
        <hr />

    {# IMAGE WITH TEXT #}
    {% case 'block_imageWithText' %}
        <div>
            <h2>{{ block.field_title }}</h2>
            <p>{{ block.field_paragraph }}</p>
            <img src="{{ block.field_image.one().url }}" />    
        </div>

    {% endswitch %}
{% endfor %}

<!-- RELATED ITEMS -->

{% set params = craft.entries.section('cases').orderBy('postDate asc') %}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% if prevEntry is empty %}
    {% set prevEntry = params.inReverse().one() %}
{% endif %}

<a href="{{ prevEntry.url }}">Previous project
    <div>
        <h2>{{ prevEntry.title }}</h2>
        <img src="{{ prevEntry.field_referenceImage.one().getUrl("s340x340") }}" />
    </div>
</a>

{% if nextEntry is empty %}
    {% set nextEntry = params.one() %}
{% endif %}

<a href="{{ nextEntry.url }}"> Next project
    <div>
        <h2>{{ nextEntry.title }}</h2>
        <img src="{{ nextEntry.field_referenceImage.one().getUrl("s340x340") }}" />
    </div>
</a>

{% endblock %}