{% extends "_layouts/main" %}

{% block main %}
<h2>{{ entry.title }}</h2>
<div>
    {% for entry in craft.entries.section('cases').orderBy('postDate asc').all() %}
        <a href="{{ entry.url }}">
            <h1>{{ entry.title }}</h1>
            <img src="{{ entry.field_referenceImage.one().getUrl("s500x500") }}" />
            <div>{{ entry.field_paragraph }}</div>
            <span>Learn more ></span>
        </a>
    {% endfor %}
</div>

{% endblock %}